@charset "UTF-8";

body > div > div {
	width: 100% !important;
}

body > div > div > div.content > div > div {
	margin: auto;
}

.marleft10 {
	margin-left: 10px;
}

body > div > div > div.content > div > div > div > div.card-body > form > ul > li {
	padding: 5px;
}

.font-size {
	font-size: 12px;
}
		
.cancelRegisterProduct, .returnRegisterProduct {
	width: 300px;
	margin: 30px auto 40px;
}