@charset "UTF-8";

div.card-body > div > table{
	text-align: center;	
}

.product_img {
	width: 100px;
	height: 100px;
	cursor: pointer;
}


#btn-order {
	background: #3a8aa2 !important;
	margin-top: 10px !important;
}

#btn-return, #btn-cancel {
	background: #f4f3ef !important;
    color: #252422 !important;
    margin: 5px 0 5px 0 !important;
}

#btn-return:hover {
	background: #f9bba8 !important;
	color: #252422 !important;
}

#btn-cancel:hover {
	background: #fde7a4 !important;
	color: #252422 !important;
}

.leaveInfo {
	border: 1px solid lightgray;
	padding: 20px;
	margin-bottom: 20px;
}

div.card-body > div > div > div > i {
	color: red;
    position: relative;
    top: 2px;
    margin-right :5px;
}

.orderDeliveryInfo {
	border: 1px solid lightgray;
	padding-top: 20px;
	margin-bottom: 30px;
}

div.orderDeliveryInfo > ul {
	line-height: 27px;
}
