@charset "UTF-8";

.mytmall_tab1 {
    position: relative;
    margin: 29px 0 0 0;
    height: 45px;
    background: none;
}

.marT0 {
    margin-top: 0 !important;
}

.mytmall_tab1 ul {
    height: 30px;
    overflow: hidden;
    list-style: none;
}

.mytmall_tab1 ul li.on {
    position: relative;
    width: 159px;
}

#home > table {
	margin-top: 40px;
	text-align: center;
}

#home > table > tbody > tr:nth-child(1) > td:nth-child(1) {
	width:20%;
}

.product_img {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

#home > table > tbody > tr:nth-child(2) > td:nth-child(2) > span, #menu1 > table > tbody > tr:nth-child(2) > td:nth-child(2) > span {
	cursor: pointer;
}

#home > table > tbody > tr:nth-child(2) > td:nth-child(4) > button, #menu1 > table > tbody > tr:nth-child(2) > td:nth-child(5) > button {
	background: #f4f3ef;
	color: #252422;
}

#home > table > tbody > tr:nth-child(2) > td:nth-child(4) > button:hover, #menu1 > table > tbody > tr:nth-child(2) > td:nth-child(5) > button:hover {
	background: #3a8aa2 !important;
}

<!--모달 --> /* #myModal > div > div > div.modal-header > h4  {
    position: relative;
    right: 370px;
} */

.star {
	font-size: 35px
}

.checked {
	color: orange;
}

.review_content {
	width: 100%;
	height: 130px;
	margin-top: 15px;	
	padding: 5px 0 0 10px;
}

#myModal > div > div > form > div.modal-body > div > span{
    height: 14px;
    color: #757575;
    font-size: 11px;
}

#myModal > div > div > form > div.modal-body > div > ul li {
    margin: 0 0 5px 0;
    padding: 0 0 0 7px;
    color: #757575;
    font-size: 11px;
    line-height: 16px;
    vertical-align: top;
}



body > div > div.main-panel.ps-container.ps-theme-default > div.content > div > div > div > div.card-body > div > ul:nth-child(1) {
	margin-top: -10px;
	margin-bottom: 30px;
}

body > div > div.main-panel.ps-container.ps-theme-default > div.content > div > div > div > div.card-body > div > ul:nth-child(1) > li {
	padding: 5px;
}

#menu1 > table {
	margin-top: 40px;
	text-align: center;
}
#menu1 > table > tbody > tr > td:nth-child(1) {
	width: 20%;
}

#reviewWriteTable {
    width: 90%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 5px 15px;
}

#reviewUpdateTable {
	width: 90%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 5px 15px;
    position: relative;
    top: -40px;
}

.review-caution {
	margin: 5px 5px 0 25px;
	position: relative;
	top: -40px;
	left: 15px;
	font-size: 8pt;
	line-height: 19px;
	width: 90%;
}

.review_img {
	width: 100px;
	height: 100px;
	margin-right: 20px;
}

.leaveInfo {
	border: 1px solid lightgray;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}

div.card-body > div > div > div > i {
	color: red;
    position: relative;
    top: 2px;
    margin-right :5px;
}

#home > div.container > div > i, #menu1 > div.container > div > i {
	color: red;
	position: relative;
    top: 2px;
	margin-right :5px;
}