@charset "UTF-8";

#floatMenu {
	position: absolute;
    width: 100px;
    height: 340px;
    right: 40px;
    bottom: 200px;
    background-color: white;
    z-index: -1;
    text-align: center;
    color: #3a8aa2;
    padding-top: 10px;
    opacity: 0.85;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: inherit;
  top: 50px;
  width: 100%;
}

fieldset {
  position: relative;
}

.fa-search{
  position: relative;
  top: 0px;
  font-size: 20px !important;
}

.url{
 	margin-left: 30%;
    margin-top: 25px;
    margin-right: 10px;
  	-webkit-box-flex: 5;
    -ms-flex-positive: 5;
            flex-grow: 1;
}

.enter{
  margin-top : 59px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

label {
  position: absolute;
  top: -5px;
  left: 0px;
  letter-spacing: 10px;
  font-size: 20px;
  color: #3a8aa2;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus ~ label {
  color: #3a8aa2;
}

input:focus ~ label,
input:valid ~ label {
  top: 0;
  letter-spacing: 5px;
  -webkit-transform: translate(0, -30px) scale(0.7, 0.7);
      -ms-transform: translate(0, -30px) scale(0.7, 0.7);
          transform: translate(0, -30px) scale(0.7, 0.7);

}

input {
  padding : 2px 0px 1px 7px;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-size: 20px !important;
  width: 100%;
  border: none;
  margin-top: 0;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.after {
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, RGBA(254, 253, 255, 1.00)), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
  background: -o-linear-gradient(left, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
  background: linear-gradient(to right, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
  background-color: RGBA(55, 73, 87, 0.8);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button {
  margin-right : 15em !important;
  position: relative;
  width: 75px;
  height: 34px;
  font-size: 20px;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 2px 10px;
  color: rgba(255, 255, 255, 0.6);
  background: white;
  border: none;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, white 50%, transparent 50%);
  background: -o-linear-gradient(left, white 50%, transparent 50%);
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-color: #3a8aa2;
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:before {
  position: absolute;
  font-family: system-ui, FontAwesome, Helvetica, Arial, sans-serif;;
  font-size: 20px;
  border-radius : 10px;
  letter-spacing: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  display: block;
  border-radius: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

button:active,
button:focus,
button:hover {
  outline: none;
  background-position: 0 0;
  opacity :0.85;
  color: white;
}
.float_login{
	color : white;
}
