@charset "UTF-8";
 *:focus { outline:none; }
 
#mainIMG {
	width:330px;
	height:330px;
}
 
.wrap-section {
	
}

.WRAP {
	float: left;
	position: relative;
	width: 100%;
}

.ServiceWrap {
	float: left;
	margin-left: 300px;
	width: 1050px;
}
/* product_service START */
.product_service {
	margin-bottom: 20px;
	text-align: center;
	background: white;
	color: black;
}

.product_service td {
	width: 10%;
	border-bottom: 2px solid #dadada;
}

.svsBTN {
	background: white;
	width: 100%;
	color: black;
	border: hidden;
	align-self: center;
	font-weight: bold;
	font-size: 22px;
	cursor: pointer !important;
}



/* product_service END */

/* product_detail START */
.product_detail {
	margin: auto;
	border-top:1px solid white;
	border-bottom:1px solid white;
	border-right:1px solid white;
	border-left:1px solid white;
	
}
/* product_detail END */

/* product_review START */
.ReivewWrap {
	width:1050px;
}

.review {
	border-bottom: 1px solid silver;
	clear: both;
}

.review p {
	font-size: 19px;
	color: black;
	margin-bottom: 0;
}

.product_review {
	margin-top: 5px;
	float: right;
}

#review_subwrap {
	clear:both;
	border-top:1px solid silver;
	width:850px;
	margin:auto;
}


#review_top{
	margin:auto;
	margin-top:3px;
	clear:both;
	width:850px;
	height:17px;
}

.checked {
	color:orange;
}

#star {
	font-size:12px;
	float:left;
	display:inline;
}

#review_writer{
	font-size:12px;
	float:right;
	display:inline;
}

#review_body{
	float:left;
	width:850px;
	height:90px;
}

#review_img {
	float:left;
	width:80px;
	height:80px;
}

#review_prdname {
float:left;
	width:100px;
	height:13px;
	font-size:11px;
	color:#333;
}
#review_content {
	margin-left:90px;
    line-height:18px;
	font-size:13px;
	color:#333;
}




/* product_review END */

/* product_qna 시작 */
.QnaWrap {
	margin-top: 20px;
}

.qna {
	border-bottom: 1px solid silver;
	clear: both;
}

.qna p {
	color: black;
	font-size: 19px;
	margin-bottom: 0;
}

#category {
	margin-top: 5px;
	margin-bottom:5px;
	clear: both;
	float: right;
	clear: both;
}

.qna_subjects {
	width: 100%;
	margin-top: 15px;
	padding: 0;
	clear: both;
	text-align: center;
	color: black;
	font-size: 15;
}

.qnaWrite {
	clear: both;
	float: right;
}

.qnaWrite button {
	text-align: center;
	width: 170px;
	height: 50px;
	background-color: gray;
	color: white;
	border: none;
	transition: all .3s ease;
	border-radius: 5px;
	letter-spacing: 1px;
	outline: none;
	align-self: center;
	cursor: pointer !important;
	font-weight: bold;
}
.qna_subjects tr td {
	font-color:#666;
	font-size:14px;
	height:38px;
	border-bottom:1px solid #e5e5e5;
}
.qna_subjects tr:nth-child(1) td {
	border-top:1px solid silver;
	border-bottom:1px solid #e5e5e5;
	background:#f5f5f5;
	font-size:12px;
	color:#333333;
}

.clickable {
	cursor:pointer;
}

.qna_content {
	display:none
}

.qna_content td:nth-child(3) {
	background:#f5f5f5;
	text-align:center;
}

#qnaUpdate, #qnaDelete{
	color:#3a8aa2;
}

#qnaUpdate:hover {
	cursor:pointer;
}

#qnaDelete:hover {
	cursor:pointer;
}


.center-block {
	margin-top:10px;
	margin-left:400px;
	width:100%;
	height:36px;

}


/*~~~~~~~~~~~~~~~~~~~ product_qna 끝 ~~~~~~~~~~~~~~~~~~~*/

/* ReturnWrap 시작 */
.ReturnWrap {
	clear: both;
}

.seller p {
	margin-bottom: 0px;
	color: black;
	font-size: 19px;
}

.seller_info {
	width: 100%;
	margin-top: 7px;
}

.seller_info tr:nth-child(1) td {
	border-top: 2px solid #dadada;
}

.seller_info tr td {
	border-bottom: 1px solid #e5e5e5;
	color: black;
	font-size: 12px;
}

.seller_info tr td:nth-child(1) {
	background: #f5f5f5;
	text-align: center;
}

.seller_info tr:nth-child(1) {
	height: 40px;
}

.seller_info tr:nth-child(2) {
	height: 40px;
}

.seller_info tr:nth-child(3) {
	height: 40px;
}

.seller_info tr:nth-child(4) {
	height: 40px;
}

.seller_info tr:nth-child(5) {
	height: 210px;
}

/*~~~~~~~~~~~~~~~~~~~~ ReturnWrap 끝 ~~~~~~~~~~~~~~~~~~*/
.SelectedWrap {
	position: absolute;
	left: 1350px;
	width: 300px;
	height: 700px;
	width: 300px;
}

#detailIMG{
	width:700px;
}

.product_selected {
	width: 255px;
	height: 500px;
}

.product_selected tr:nth-child(1) td:nth-child(1) {
	height: 44px;
	border-bottom: 2px solid #dadada;
}

#option td {
	text-align: center;
	height: 81px;
}

#option{
	width: 254px;
	height: 48px;
	border: 1px solid #dadada;
	background: #f7f7f7;
}

.chosen td {
	height: 140px;
}

.chosen {
	height: 52px;
	width: 100%;
}

#prd_img {
	float: left;
	margin-left: 20px;
	width:50px;
	height:50px;
}

#prd_name {
	margin-left: 10px;
	text-align: center;
}

.option_detail {
	float: left;
}

#tno {
	margin-top: 10px;
	margin-left: 15px;
	width: 38px;
	height: 33px;
}



#tno_price {
	width: 55px;
	height:60px;
	margin-top: 20px;
	margin-left: 20px;
}

#won {
	height:60px;
	margin-top:20px;
	width:25px;
}

.total_price {
	float:right;
	margin-right:24px;
}

.total {
	color:black;
	font-weight:bold;
	margin-right:15px;
}
.price {
	color:red;
	font-weight:bold;
	font-size:22px;
}
.checkout {
	clear:both;
	text-align:center
}
.checkoutGo {
	width:102px;
	height:48px;
background-color: red;
font-size:12px;
  color: white;
  padding: 1em 2em;
  border: 1px solid red;
  transition: all .3s ease;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
}

.cartGo {
	width:102px;
	height:48px;
	font-size:12px;
background-color: white;
  color: red;
  padding: 1em 2em;
  border: 1px solid red;
  transition: all .3s ease;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
}

/************* detail.js 연동 부분 *****************/
.btnOn {
	color: #f6002c;
}
.tdOn{
	border-bottom: 2px solid #f6002c !important;
}